/* Home.css */

/* Custom utility class for background image */
.bg-hero {
  position: relative;
  background-image: url('../assets/IMG-20240724-WA0022.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
  z-index: 1;
}

.cards-container {
  position: relative;
  top: -150px;
  z-index: 2;
}

.course-column {
  position: relative;
 
  padding: 2rem;
  border-radius: 0.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}
