/* Home.css */

/* Custom utility class for background image */

/* In your custom CSS file, e.g., Home.css */
.bg-hero {
  position: relative;
  background: none; /* Remove the existing background */
}

.cards-container {
  position: relative;
  top: -150px;
  z-index: 2;
}

.course-column {
  position: relative;
 
  padding: 2rem;
  border-radius: 0.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}
