/* globals.css or your stylesheet */

/* Floating effect */
@keyframes floating {
    0% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  
  /* Apply the animations */
  .animate-floating {
    animation: floating 3s ease-in-out infinite;
  }
  
  /* Responsive adjustments for LogoImg */
  @media (min-width: 640px) { /* sm */
    #LogoImg {
      top: -25%; /* Adjusted for small screens */
      width: 75px; /* Scale proportionally */
      height: 75px;
    }
  }
  
  @media (min-width: 768px) { /* md */
    #LogoImg {
      top: -20%; /* Adjusted for medium screens */
      width: 85px; /* Scale proportionally */
      height: 85px;
    }
  }
  
  @media (min-width: 1024px) { /* lg */
    #LogoImg {
      top: -15%; /* Adjusted for large screens */
      width: 95px; /* Scale proportionally */
      height: 95px;
    }
  }
  
  @media (min-width: 1280px) { /* xl */
    #LogoImg {
      top: 0%; /* Adjusted for extra-large screens */
      width: 100px; /* Actual size */
      height: 100px;
    }
  }
  