/* globals.css or your stylesheet */

/* Floating effect */
@keyframes floating {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

/* Apply the animations */
.animate-floating {
  animation: floating 3s ease-in-out infinite;
}

.hover\:animate-revolve:hover {
  animation: revolve 1s linear infinite;
}
