/* Testimonial.css */

.animate-marquee {
    display: flex;
    flex-wrap: nowrap;
    animation: marquee 22s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  