.trading-portfolio-container {
    /* Ensure container is responsive and handles spacing well */
    max-width: 100%;
  }
  
  .image-container {
    /* Remove any extra margins or padding */
    margin: 0;
    padding: 0;
  }
  
  img {
    /* Ensure images fit well within their containers */
    display: block;
    max-width: 100%;
    height: auto;
  }.image-container:hover .overlay-text {
    transform: translateY(0);
  }
  
  .image-container:hover img {
    filter: blur(4px);
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .trading-portfolio-container .carousel {
    display: flex;
    width: max-content;
    animation: scroll 50s linear infinite;
  }
  
  .trading-portfolio-container .carousel:hover {
    animation-play-state: paused;
  }
  
  