@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
   
      font-family: 'Ubuntu'
  }
  h1, h2, h3 {
    font-family: 'Ubuntu', sans-serif;
}
@keyframes rotateY360 {
    0% {
      transform: perspective(1000px) rotateY(0);
    }
    100% {
      transform: perspective(1000px) rotateY(360deg);
    }
  }
  
  .hover\:rotate-y-360:hover {
    animation: rotateY360 0.7s ease-in-out forwards;
  }
  
  .hover\:translate-y-2:hover {
    transform: translateY(-8px);
  }
  